<template>
  <v-app>
    <v-navigation-drawer v-model="sideDrawer" fixed app>
      <v-list>
        <v-list-item
          v-for="(item, i) in sideMenu"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar app>
      <v-app-bar-nav-icon @click.stop="sideDrawer = !sideDrawer" />
      <v-toolbar-title v-text="title" />
      <v-spacer />
    </v-app-bar>
    <v-main>
      <v-container>
        <Nuxt />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      sideDrawer: false,
      sideMenu: [
        {
          icon: "mdi-application",
          title: "App",
          to: "/",
        },
        {
          icon: "mdi-account",
          title: "Account",
          to: "/inspire",
        },
        {
          icon: "mdi-bell",
          title: "Notification",
          to: "notification",
        },
      ],
      title: "Aplikasi Kasir",
    };
  },
};
</script>
